# SQL ( Structured Query Language )

Att lära sig en teknologi görs bäst genom att använda den!

Databasen vi använder föreställer en digital musikaffär och innehåller tabellerna:

![Databasmodell](img/ChinookDatabaseSchema1.1.png)

#### Vi kommer börja med att fokusera på tabellerna nedan: 
~~~ {.sql}
CREATE TABLE [Album]
(
    [AlbumId] INTEGER  NOT NULL,
    [Title] NVARCHAR(160)  NOT NULL,
    [ArtistId] INTEGER  NOT NULL,
    CONSTRAINT [PK_Album] PRIMARY KEY  ([AlbumId]),
    FOREIGN KEY ([ArtistId]) REFERENCES [Artist] ([ArtistId]) 
		ON DELETE NO ACTION ON UPDATE NO ACTION
);

CREATE TABLE [Artist]
(
    [ArtistId] INTEGER  NOT NULL,
    [Name] NVARCHAR(120),
    CONSTRAINT [PK_Artist] PRIMARY KEY  ([ArtistId])
);

CREATE TABLE [Genre]
(
    [GenreId] INTEGER  NOT NULL,
    [Name] NVARCHAR(120),
    CONSTRAINT [PK_Genre] PRIMARY KEY  ([GenreId])
);

CREATE TABLE [Track]
(
    [TrackId] INTEGER  NOT NULL,
    [Name] NVARCHAR(200)  NOT NULL,
    [AlbumId] INTEGER,
    [MediaTypeId] INTEGER  NOT NULL,
    [GenreId] INTEGER,
    [Composer] NVARCHAR(220),
    [Milliseconds] INTEGER  NOT NULL,
    [Bytes] INTEGER,
    [UnitPrice] NUMERIC(10,2)  NOT NULL,
    CONSTRAINT [PK_Track] PRIMARY KEY  ([TrackId]),
    FOREIGN KEY ([AlbumId]) REFERENCES [Album] ([AlbumId]) 
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([GenreId]) REFERENCES [Genre] ([GenreId]) 
		ON DELETE NO ACTION ON UPDATE NO ACTION,
    FOREIGN KEY ([MediaTypeId]) REFERENCES [MediaType] ([MediaTypeId]) 
		ON DELETE NO ACTION ON UPDATE NO ACTION
);

~~~

### Låt oss gräva!

Nu har vi alltså en databas med massa information. För att börja gräva behöver vi ladda SQL extensionen.

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%sql sqlite:///Chinook_Sqlite.sqlite

'Connected: None@Chinook_Sqlite.sqlite'

1. a) Låt oss börja med att hämta alla Album.

In [6]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

b) AlbumID och ArtistID var inte så intressant.. Låt oss bara hämta Title

In [ ]:
%%sql

b) Låt oss sortera dom i bokstavsordning

In [ ]:
%%sql

c) Hur många album finns det i affären?

In [ ]:
%%sql

2. Låt oss vända oss till artisterna
a) Hämta alla artister från databasen.

In [ ]:
%%sql

b) Hämta alla album som din favoritartist har gjort.

In [ ]:
%%sql

3. Hämta ut

In [ ]:
%%sql

####

In [ ]:
%%sql

a) Sortera artisterna efter vem som har flest album.

b) Visa bara de 3 artisterna med flest album.

In [ ]:
%%sql

In [ ]:
%%sql